
txData/default/data/stats_svRuntime.json
txData/default/data/stats_playerDrop.json
txData/default/data/playersDB.json
txData/default/data/playersDB.backup.json
txData/ESXLegacy_2BB37B.base/cache/files/ox_lib/resource.sfl.db
txData/ESXLegacy_2BB37B.base/cache/files/ox_lib/resource.sfl
txData/ESXLegacy_2BB37B.base/cache/files/ox_lib/resource.rpf.db
txData/ESXLegacy_2BB37B.base/cache/files/ox_lib/resource.rpf
txData/ESXLegacy_2BB37B.base/cache/files/illenium-appearance/resource.sfl.db
txData/ESXLegacy_2BB37B.base/cache/files/illenium-appearance/resource.sfl
txData/ESXLegacy_2BB37B.base/cache/files/illenium-appearance/resource.rpf.db
txData/ESXLegacy_2BB37B.base/cache/files/illenium-appearance/resource.rpf
txData/default/data/stats_svRuntime.json
txData/default/data/stats_playerDrop.json
txData/default/data/playersDB.json
txData/default/data/playersDB.backup.json
